<!doctype html>
<html>
<head>
    <title>chat</title>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<body>
  <nav class="navbar navbar-default navbar-static-top">
        <div class="container navbar-header">
            <a class="navbar-brand" id="text" style="color:black;" href="#"> <b> Chat  </b></a>
        </div>
    </nav>

<div class="container">


    <div class="text-center" style="margin-top:150px;">

        <p><b>Login or Register with:</b></p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>


    </div>

</div>
</body>
</html>   